html, body{
    margin: 0 auto;
    padding: 0;
}
.Wrapper{
    position: relative;
    max-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    overflow-y: auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "Header Header"
    "JacketInto JacketInto"
    "Jackets1 Jackets1"
    "Jackets2 Jackets2"
    "Footer Footer"
    ;
}
.JacketInto{
    grid-area: JacketInto;
    width: 100vw;
    padding-left: 5%;
    border-bottom: 2px solid rgb(195, 195, 195);
    box-sizing: border-box;
}
.Jackets1{
    grid-area: Jackets1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Jackets2{
    grid-area: Jackets2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "Product3 Product4"
    ;
}
.Product1,.Product3,.Product4{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Jackets1 img{
    width: 95%;
    aspect-ratio: 4/5;
}
.Jackets2 img{
    width: 95%;
    aspect-ratio: 4/5;
}
.Product1 span{
    padding:5%;
}
/* #2 */
.Product2{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Product2 span{
    padding:5%;
}
.Product3 span{
    padding:5%;
}
.Product4 span{
    padding:5%;
}
.Product2 img{
    margin-left: 5%;
}
.Product4 img{
    margin-left: 5%;
}
#Product1Price, #Product2Price, #Product3Price, #Product4Price{
    font-size: large;
    font-weight: 600;
}

#Header{
    grid-area: Header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    grid-template-areas:
    "Logo Nav"
    ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

}
.Footer{
    grid-area:Footer;
    padding: 5%;
    text-align: center;
}
#Header  #Logo{
    transform: scale(0.4);
    
}
.Nav li {
    display: inline-block;
    list-style: none;
    padding: 3%;
}
.Nav li img{
    transform: scale(0.7);
}
.Nav{
    grid-area: Nav;
    display: flex;
    justify-content: right;
}
.Logo{
    grid-area: Logo;
}
.Menu1{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s ease-in-out;  
    z-index: 10;
}
.Menu1.Visible{
    transform: scaleX(1);
}
.MenuClothing{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}
.ClothingMenuStyling{
    height: 7%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
    font-size: x-large;
    align-items: center;
}
.MenuClothing .Exit2{
    height: 15%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 15%;
}
.MenuClothing.Visible{
    transform: scaleX(1);
}
.Exit{
    grid-area: Exit;
    height: 15%;
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
}
.Exit2{
    grid-area: Exit;
    height: 15%;
    display: flex;
    justify-content: right;
    width: 30%;
    align-items: center;
}
.LoggedIn{
    height: 15%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: 5% ;
    margin-right: 30%;
}
span{
    margin-right:0%;
}
#LoginArrow{
    transform: scale(0.5);
    margin-right: 30%;
}
.Exit img{
    transform: scale(0.3);
}
.Exit2 img{
    transform: scale(0.3);
}

.Clothing{
    grid-area: Clothing;
     height: 7%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
    font-size: x-large;
     align-items: center;
}
#MenuArrow{
    margin-right: 30%;
    transform: scale(0.5);
}
.Sportswear{
    grid-area: Sportswear;
     height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
     margin-left: 5%;
    font-size: x-large;
}
.Equipment{
    grid-area: Equipment;
     height: 7%;
    display: flex;
    justify-content: space-between;
     align-items: center;
    width: 100%;
     margin-left: 5%;
    font-size: x-large;
}
.Jordan{
    grid-area: Jordan;
     height: 7%;
    display: flex;
    justify-content: space-between;
     align-items: center;
    width: 100%;
     margin-left: 5%;
    font-size: x-large;
}
.MenuCart{
    grid-area: MenuCart;
     height: 7%;
    display: flex;
    justify-content: space-between;
     align-items: center;
    width: 100%;
     margin-left: 5%;
    font-size: x-large;
}
.Shoes{
    grid-area:Shoes;
     height: 7%;
    display: flex;
    justify-content: space-between;
     align-items: center;
    width: 100%;
     margin-left: 5%;
    font-size: x-large;
}
.SportswearMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    
}
.SportswearMenu.Visible{
    transform: scaleX(1);
}
.SportswearMenu .Exit3{
    height: 15%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 15%;
}
.Exit3 img{
    transform: scale(0.3);
}
.EquipmentMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease-in-out;   
    z-index: 10;
}
.EquipmentMenu.Visible{
    transform: scaleX(1);
}
.EquipmentMenu .Exit4{
    height: 15%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 15%;
}
.Exit4 img{
    transform: scale(0.3);
}

@media (min-width:800px){
    .Wrapper{
    position: relative;
    max-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    overflow-y: auto;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "Header Header Header Header"
    "JacketInto JacketInto JacketInto JacketInto"
    "Jackets1 Jackets1 Jackets2 Jackets2"
    "Footer Footer Footer Footer"
    ;
}
.Jackets1 {
    margin-right: 2%;
    margin-top: 2%;
}

.Jackets2 {
    margin-right: 2%;
    margin-top: 2%;
}
.SportswearMenu.Visible{
    width: 20%;
}
.EquipmentMenu.Visible{
    width: 20%;
}
.MenuClothing.Visible{
    width: 20%;
}
.Menu1.Visible{
    width: 20%;
}
}